@model MyPortfolio.Models.TblTestimonials
@{
    ViewBag.Title = "AddTestimonial";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>AddTestimonial Syafasi </h2>

<form method="post">

    <!-- name veri tabani ile birebir ayni olmali  -->

    <label>ImageUrl </label>
    <input type="text" name="ImageUrl" class="form-control" />

    <label>Comment</label>
    <input type="text" name="Comment" class="form-control" />

    <label>NameSurname </label>
    <input type="text" name="NameSurname" class="form-control" />

    <label>Title </label>
    <input type="text" name="Title" class="form-control" />

    <label>CommentDate </label>
    <input type="text" name="CommentDate" class="form-control" />

    @*<label>Status </label>
    <input type="text" name="Status" class="form-control" />*@



    <!-- button giricez buttona basoldginda post calisacak -->
    <button class=" btn btn-outline-primary">KAYDET</button>

</form>

