@model MyPortfolio.Models.TblProjects
@{
    ViewBag.Title = "AddProject";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<br />
<br />
<h2>Proje Ekleme Sayfasi</h2>

<div><form method="post">
    <!-- name veri tabani ile birebir ayni olmali  -->
    <label>Proje Adi </label>
    <input type="text" name="ProjectName" class="form-control" />

    <label>Resim URL </label>
    <input type="text" name="ImageUrl" class="form-control" />

    <label>GITHUB Link </label>
    <input type="text" name="GitHubUrl" class="form-control" />

    <!-- bu dropdown listi hic anlamadim -->
    <label >KATEGORI</label>
    @Html.DropDownListFor(x=> x.CategoryId,(List<SelectListItem>)ViewBag.category,"Kategori Sec", new {@class="form-control"});



    <!-- button giricez buttona basoldginda post calisacak -->
    <button class=" btn btn-outline-primary">KAYDET</button>

</form></div>